<div class="flex flex-col items-center h-full pb-4">
  <header class="flex gap-4 my-4 items-center">
    <span>Round: {{ round$ | async }}</span>
    <span>Score: {{ score$ | async }}</span>
    <span>Bonus: {{ bonus$ | async }}</span>
  </header>
  <div class="flex md:flex-grow-0 flex-grow justify-center">
    <div
      class="grid grid-cols-2 gap-2 mx-2 w-full h-full relative"
      *ngIf="items$ | async as items; else loading"
      [@nextRoundTransition]="items"
    >
      <app-option-card
        *ngFor="let item of items"
        class="capitalize md:h-56 h-full"
        title="{{ item.title }}"
        imageUrl="{{ item.imageUrl }}"
        postId="{{ item.postId }}"
        [@cardSelectTransition]="checkIfCardSelected(item.postId)"
      ></app-option-card>
    </div>
  </div>
</div>

<ng-template #loading>Loading...</ng-template>
