<header class="px-4 py-12 w-full flex justify-center text-center">
  <h1
    class="bg-clip-text text-transparent bg-gradient-to-r from-emerald-500 via-cyan-400 to-teal-600"
  >
    What The Fake
  </h1>
</header>

<main class="w-full flex justify-center px-4 overflow-x-hidden">
  <div class="md:w-1/3 w-full pb-12">
    <h2 class="mb-4">How to play</h2>
    <div class="line-item">
      <span>🤔</span>
      <p>Choose which headline is <b class="text-emerald-400">REAL</b></p>
    </div>
    <div class="line-item">
      <span>🔥</span>
      <p>10 rounds</p>
    </div>
    <div class="line-item">
      <span>🎖️</span>
      <p>Challenge your friends</p>
    </div>
  </div>
</main>

<div class="w-full px-4 pb-16 flex justify-center">
  <button class="primary md:w-1/3 w-full" routerLink="/game">Start Game</button>
</div>

<footer
  class="px-4 pb-6 w-full flex flex-col items-center justify-center gap-y-2"
>
  <p class="mb-8">
    Headlines from
    <a
      href="https://reddit.com/r/nottheonion"
      target="_blank"
      referrerpolicy="noreferrer"
      >r/nottheonion</a
    >
    and
    <a
      href="https://reddit.com/r/theonion"
      target="_blank"
      referrerpolicy="noreferrer"
      >r/theonion</a
    >
  </p>
  <div class="flex flex-col md:flex-row items-center text-xs">
    <a
      href="https://buymeacoffee.com/cerivitos"
      target="_blank"
      rel="noreferrer"
      class="mb-3 md:mb-0 px-3 py-2 rounded-lg bg-yellow-400 text-black flex gap-2 hover:text-black hover:bg-yellow-200"
      ><img src="/assets/bmc-logo-no-background.png" class="w-3" />Buy me a
      coffee</a
    >
    <a
      href="https://play.google.com/store/apps/details?id=com.chanwaikit.fakenews"
      rel="noreferrer"
      target="_blank"
      ><img
        alt="Get it on Google Play"
        class="w-[132px] mb-3 md:mb-0"
        src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
    /></a>
    <a
      href="https://github.com/cerivitos/what-the-fake-web"
      target="_blank"
      rel="noreferrer"
      >Github</a
    >
    <span class="mb-3 mr-0 md:mb-0 md:mr-3"> {{ version }}</span>

    <a routerLink="/terms-and-privacy">Terms and Privacy</a>
  </div>
</footer>
